/* TASK CARD */

.task-card {
  padding: 1rem;
  border-radius: 0.3rem;
  width: calc(100% - 2rem);
  background-color: rgba(100, 148, 237, 0.527);
}

.task-card header {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
  color: var(--light-black);
  justify-content: space-between;
}

.task-card header i {
  color: var(--stared-task);
}

.task-card .task-subtitle {
  font-size: 0.9rem;
  color: var(--light-gray);
}

.task-card .task-created-date {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: var(--light-black);
}

@media screen and (min-width: 620px) {
  .task-card {
    width: 28% !important;
  }
}

/* DIALOG BOX */
#dialog-box {
  top: 30vh;
  left: 4.3vw;
  z-index: 999;
  display: flex;
  position: fixed;
  align-items: center;
  height: fit-content;
  flex-direction: column;
  width: calc(90vw - 2rem);
  box-shadow: var(--box-shadow);
  padding: 1.5rem 1rem 2.5rem 1rem;
  border: 1px solid rgb(146, 146, 146);
}

#dialog-box.closed {
  display: none !important;
}

#dialog-box #create-list-dialog-form {
  width: 100%;
  gap: 1.5rem;
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  flex-direction: column;
}

#dialog-box form * {
  width: 80%;
  padding: 0.6rem;
  border: 1px solid rgb(189, 186, 186);
}

#dialog-box form button {
  width: 87%;
}
