<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section id="desktop-template">
      <!-- Desktop Navigation -->
      <nav id="desktop-navigation">
        <section id="side-bar">
          <h3 id="title">Mi.note</h3>

          <div id="nav-items">
            <ul>
              <li onclick="handleNavigationClick(this)" class="active">
                <i class="fal fa-globe-africa"></i>
                ALL
              </li>
              <li onclick="handleNavigationClick(this)">
                <i class="fal fa-hourglass-half"></i>
                PENDING
              </li>
              <li onclick="handleNavigationClick(this)">
                <i class="fal fa-badge-check"></i>
                COMPLETED
              </li>
              <li onclick="handleNavigationClick(this)">
                <i class="fal fa-trash"></i>
                DELETED
              </li>
            </ul>
          </div>
        </section>
      </nav>

      <!-- Desktop Main Content -->
      <main id="main">
        <div id="group-main">
          <form id="search-form">
            <i class="fal fa-search"></i>
            <input id="search-field" type="text" placeholder="Search Tasks..." />
          </form>
  
          <h1 id="section-title">ALL</h1>
  
          <div id="projects-list"></div>
  
          <!-- Create project Dialog -->
          <dialog id="dialog-box" class="closed">
            <h2 class="title">Create Project</h2>
  
            <form id="create-project-dialog-form" autocomplete="off" onsubmit="createProject(this, event)">
              <input type="text" required placeholder="Project title" id="project-title" />
              <textarea placeholder="project subtitle" required id="project-subtitle"></textarea>
              <button type="submit">Create Project</button>
            </form>
          </dialog>
        </div>
      </main>

      <footer>
        <div id="fab">
          <i class="fal fa-plus" onclick="handleCreateProjectDialog()"></i>
        </div>
      </footer>
    </section>
  </body>
</html>
