<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section id="mobile-template">
      <!-- Mobile Navbar -->
      <nav id="default-nav">
        <h1>Mi.note</h1>
      </nav>

      <!-- Mobile Main Content -->
      <main id="main">
        <div id="nav-items">
          <ul>
            <li>
              <i class="fal fa-globe-africa"></i>
              ALL
            </li>
            <li>
              <i class="fal fa-hourglass-half"></i>
              PENDING
            </li>
            <li>
              <i class="fal fa-badge-check"></i>
              COMPLETED
            </li>
          </ul>
        </div>

        <form id="search-form">
          <i class="fal fa-search"></i>
          <input id="search-field" type="text" placeholder="Search Tasks..." />
        </form>

        <h3 id="section-title">Tasks</h3>
      </main>
    </section>
  </body>
</html>

<!-- <nav id="default-nav" class="task-nav">
          <i class="far fa-arrow-left"></i>
          <div>
            <i class="far fa-star"></i>
            <i class="far fa-trash"></i>
          </div>
        </nav> -->
